@import "../../abstract/variavies";
.destaque__estilo {
    @media screen and (min-width: 0px) and(max-width: 768px) {
        width: 100%;
    }
    .destaque {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media screen and (min-width: 768px) and(max-width: 992px) {
            grid-template-columns: 1fr;
            .capa__principal {
                width: 100%;
            }
        }
        @media screen and (min-width: 0px) and(max-width: 768px) {
            grid-template-columns: 1fr;
            .capa__principal {
                width: 100%;
            }
        }
        .destaque__divisao {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .destaque__opcoes {
                @media screen and (min-width: 1000px) and(max-width: 1297px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                @media screen and (min-width: 769px) and(max-width: 992px) {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                }
                @media screen and (min-width: 0px) and(max-width: 768px) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            .destaque__informacoes {
                font-size: $tamanho-texto-destaque;
                .destaque__descricao {
                    font-size: $tamanho-texto-destaque/2;
                }
            }
            .destaque__escolha {
                font-size: $tamanho-texto-medidas;
                .tamanhos__camisas {
                    input {
                        appearance: none;
                        padding: 4px 4px;
                        cursor: pointer;
                    }
                    input:checked {
                        background-color: red;
                        color: #fff;
                        font-weight: 400;
                    }
                    input:before {
                        content: attr(label);
                    }
                }
                .opcoes__tamanhos {
                    // border: 2px solid var(--fundo-navegacao);
                    padding: 1rem;
                    margin: 0.2rem;
                    cursor: pointer;
                }
            }
            .destaque__botao {
                display: grid;
                padding: 0.2rem;
                grid-template-columns: 1fr 2fr;
                @media screen and (min-width: 1000px) and(max-width: 1297px) {
                    grid-template-columns: 1fr 2fr;
                }
                @media screen and (min-width: 769px) and(max-width: 992px) {
                    grid-template-columns: 2fr;
                }
                @media screen and (min-width: 0px) and(max-width: 768px) {
                    grid-template-columns: 1fr;
                }
                .botao {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    border: none;
                    cursor: pointer;
                    background-color: $cor-botao-pesquisa;
                    color: $cor-botao-texto;
                    @media screen and (min-width: 0px) and(max-width: 768px) {
                        align-items: center;
                    }
                    .alinhar1 {
                        padding: 1rem;
                        font-size: 1.5rem;
                    }
                    .alinhar2 {
                        padding: 1rem;
                        font-size: 1rem;
                    }
                    // padding-top: 1rem;
                }
            }
        }
    }
}

.destaque__borda {
    border: 1px solid $cor-bordas-camisa;
    text-align: center;
    margin: 0.5rem;
}