//fontes
$fonte-principal: "Inter",
sans-serif;
//tamanhos da fonte
$tamanho-titulo: 5rem;
$tamanho-texto-navegacao: 5rem;
$tamanho-texto-pesquisa: 2rem;
$tamanho-texto-medidas: 3.5rem;
$tamanho-texto-destaque: 5rem;
//cores
$cor-barra-navegacao: #000000;
$cor-texto-navegacao: #fff;
$cor-botao-pesquisa: #000000;
$cor-botao-texto: #000000;
$cor-bordas-camisa: #000000;
$cor-barra-navegacao: #000000;
$cor-painel-principal: #000000;
$cor-rodape: #000000;
$cor-texto-rodape: #000;
//tamanhos