//fontes
$fonte-principal: "Inter",
sans-serif;
//tamanhos da fonte
$tamanho-titulo: 5rem;
$tamanho-texto-navegacao: 5rem;
$tamanho-texto-pesquisa: 2rem;
$tamanho-texto-medidas: 3.5rem;
$tamanho-texto-destaque: 5rem;
//cores
$cor-barra-navegacao: rgba(0, 0, 0, 0.87);
$cor-texto-navegacao: #fff;
$cor-botao-pesquisa: rgba(0, 0, 0, 0.87);
$cor-botao-principal: rgba(0, 0, 0, 0.87);
$cor-botao-texto: #fff;
$cor-bordas-camisa: rgba(0, 0, 0, 0.87);
$cor-barra-navegacao: rgba(0, 0, 0, 0.87);
$cor-painel-principal: rgba(0, 0, 0, 0.87);
$cor-rodape: rgba(0, 0, 0, 0.87);
$cor-texto-rodape: #fff;
$cor-texto-painel: #fff;
//tamanhos