.principal {
    padding: 2rem 2.5rem;
    display: grid;
    gap: 2rem;
    font-size: 3rem;
}

//sequencia logica do html
@import "../pesquisa/pesquisa";
@import "../destaque/destaque";
@import "../painel/painel";
@import "../painel/painelCentro";
@import "../secao/secao";
@import "../rodape/rodape";
@import "../compra/compra";